<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>我的考核</title>
    <link rel="shortcut icon" href="/static/Kpi/img/text.ico" type="image/x-icon">
    

<!-- css file -->
<link href="/static/Kpi/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/Kpi/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/Kpi/css/toastr.min.css" rel="stylesheet">
<link href="/static/Kpi/css/sweetalert.css" rel="stylesheet">
<link href="/static/Kpi/css/style.css" rel="stylesheet">
<link href="/static/Kpi/css/jquery.validator.css" rel="stylesheet">
<link href="/static/Kpi/css/datatables.min.css" rel="stylesheet">
<!-- scripts -->
<script src="/static/Kpi/js/jquery-2.1.1.js"></script>
<script src="/static/Kpi/js/sweetalert.min.js"></script>
<script src="/static/Kpi/js/bootstrap.min.js"></script>
<script src="/static/Kpi/js/datatables.min.js"></script>
    <link href="/static/Kpi/css/jumpserver.css" rel="stylesheet">
    
    <link href="/static/Kpi/css/sweetalert.css" rel="stylesheet">
    <script src="/static/Kpi/js/sweetalert.min.js"></script>

</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            

<li class="nav-header">
    <div class="dropdown profile-element">
        <div target="_blank">
            <img alt="logo" height="55" width="55" src="/static/Kpi/img/logo.png" style="margin-left: 40px">
            <span class="nav-label">IT工时考核系统</span><span class="label label-info pull-right"></span>
        </div>
    </div>
    <div class="clearfix"></div>
</li>
                
<li>
    <a>
        <span class="nav-label"></span><span class="label label-info pull-right"></span>
    </a>
</li>
<li>
    <a href="/viewinfo/">
        <span class="nav-label">个人信息</span>
    </a>
</li>
<li id="users" class="active">
    <a>
        <span class="nav-label">我的考核</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li>
    <a href="/rules/">
        <!-- <i class="fa fa-window-maximize" style="width: 14px"></i> -->
        <span class="nav-label">部门考核规则</span>
    </a>
</li>
            
        </ul>
    </div>
</nav>

    <div id="page-wrapper" class="gray-bg">
        
<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                
                <a data-toggle="dropdown" class="dropdown-toggle">
                    <span class="m-r-sm text-muted welcome-message">
                        <span style="font-size: 13px;font-weight: 400"> {{ userinfo.name }}
                            <b class="caret"></b>
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs profile-dropdown">                    
                    <li>
                        <a href="/logout/">注销登录</a>
                    </li>
                    <li>
                        <a href="/Modinfo/">修改信息</a>
                    </li>
                </ul>
                
            </li>
        </ul>
    </nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2></h2>
        <ol class="breadcrumb">            
        </ol>
    </div>
    <div class="col-sm-2">
    </div>
</div>
<script>
    function closePublicKeyMsg() {
        setCookie('close_public_key_msg', 1)
    }
</script>
        
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="text-center"> 我的考核 </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-8" style="padding-left: 0;">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>{{ userinfo.info }}</h5>
                                    <span class="label label-primary"><b>{{ userinfo.name }}.{{ userinfo.department }}</b></span>
                                </div>
                                <div class="ibox-content">
                                    <div class="text-left">
                                        <table class="table">
                                            <div id="user_assets_table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                                <div id="uc" class="pull-left"></div>
                                                <form action="/PageFunc/" method="POST" enctype="multipart/form-data" id="PageFunc" name="PageFunc">
                                                    <!-- <div id="user_assets_table_filter" class="dataTables_filter">                        
                                                        <label>搜索<input type="search" class="form-control input-sm" placeholder="" aria-controls="user_assets_table"></label>
                                                    </div> -->
                                                    <div class="dataTables_length" id="PageLength">
                                                        <label>
                                                            每页                                                                
                                                                <select name="PageLength" aria-controls="user_assets_table" class="form-control input-sm" onchange="javascript:submitForm()">
                                                                    <option value="10" {% if 10  == userinfo.pageSep %} selected {% endif %}>
                                                                        10
                                                                    </option>
                                                                    <option value="15" {% if 15  == userinfo.pageSep %} selected {% endif %}>
                                                                        15
                                                                    </option>
                                                                    <option value="30" {% if 30  == userinfo.pageSep %} selected {% endif %}>
                                                                        30
                                                                    </option>
                                                                    <option value="50" {% if 50  == userinfo.pageSep %} selected {% endif %}>
                                                                        50
                                                                    </option>
                                                                </select>
                                                        </label>                                                                                    
                                                    </div>
                                                </form>
                                                <script type="text/javascript">
                                                    function submitForm(){
                                                        document.forms["PageFunc"].submit();
                                                    }
                                                </script>
                                                <table class="table table-striped table-bordered table-hover  dataTable no-footer" id="user_assets_table" style="width: 100%;" role="grid" aria-describedby="user_assets_table_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="日期" style="width: 125px;">日期</th>
                                                            <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="日期" style="width: 90px;">需求部门</th>
                                                            <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="日期" style="width: 65px;">需求责任人</th>
                                                            <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="工作事项" style="width: 220px;">工作事项</th>
                                                            <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="工作类型" style="width: 160px;">工作类型</th>
                                                            <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="标准时长（分）" style="width: 150px;">标准时长（分）</th>
                                                            <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 180px;">动作</th>
                                                        </tr>
                                                    </thead>
                                                    <form action="/AddEvent/" method="POST" enctype="multipart/form-data">
                                                        <tbody>
                                                            <tr role="row" class="odd">
                                                                <td class=" text-center"><input type="date" name="date" required="" style="width: 125px;"></td>
                                                                <td class=" text-center">
                                                                    <select name="requirement_department" required="" style="width: 90px;">                                                                            
                                                                        <option value="客服部" >客服部</option>
                                                                        <option value="品牌部" >品牌部</option>
                                                                        <option value="供应链" >供应链</option>
                                                                        <option value="开发部" >开发部</option>
                                                                        <option value="信息技术部" >信息技术部</option>
                                                                        <option value="实体运营部" >实体运营部</option>
                                                                        <option value="运营部" >运营部</option>
                                                                        <option value="直播间" >直播间</option>
                                                                        <option value="人事部" >人事部</option>
                                                                        <option value="财务部" >财务部</option>
                                                                        <option value="总经办" >总经办</option>
                                                                        <option value="董事会" >董事会</option>
                                                                        <option value="行政部" >行政部</option>
                                                                    </select>
                                                                </td>
                                                                <td class=" text-center"><input type="text" name="requirement_username" required="" style="width: 65px;"></td>
                                                                <td class=" text-center"><input type="text" name="events" required="" style="width: 220px;"></td>
                                                                <td class=" text-center">
                                                                    <select name="kind" required="" style="width: 180px;">
                                                                        {% for kaohenameKind in userinfo.kaohenameKindList %}                                                                           
                                                                            <option value="{{ kaohenameKind }}" >{{ kaohenameKind }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </td>
                                                                <td class=" text-center"></td>
                                                                <td class=" text-center">
                                                                    <input type="submit" class="btn btn-xs btn-info" name="action" value="新增"/>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </form>
                                                    {% for m in userinfo.page.object_list %}
                                                        {% if m.id == userinfo.editscoreid %}
                                                            {{ userinfo.editscoreid }}
                                                            <form action="/Editevents/" method="POST" enctype="multipart/form-data">
                                                                <tbody>
                                                                    <tr role="row" class="odd">
                                                                        <td class=" text-center"><input type="date" name="date" value='{{ m.score_datetime|date:"Y-m-d" }}' required="" style="width: 125px;"></td>
                                                                        <td class=" text-center">
                                                                            <select name="requirement_department" required="" style="width: 90px;">                                                                            
                                                                                <option value="客服部" >客服部</option>
                                                                                <option value="品牌部" >品牌部</option>
                                                                                <option value="供应链" >供应链</option>
                                                                                <option value="开发部" >开发部</option>
                                                                                <option value="信息技术部" >信息技术部</option>
                                                                                <option value="实体运营部" >实体运营部</option>
                                                                                <option value="运营部" >运营部</option>
                                                                                <option value="直播间" >直播间</option>
                                                                                <option value="人事部" >人事部</option>
                                                                                <option value="财务部" >财务部</option>
                                                                                <option value="总经办" >总经办</option>
                                                                                <option value="董事会" >董事会</option>
                                                                                <option value="行政部" >行政部</option>
                                                                            </select>
                                                                        </td>
                                                                        <td class=" text-center"><input type="text" name="requirement_username" value='{{ m.score_require_username }}' required="" style="width: 65px;"></td>
                                                                        <td class=" text-center"><input type="text" name="events" value='{{ m.score_events }}' required="" style="width: 220px;"></td>
                                                                        <td class=" text-center">
                                                                            <select name="kind" required="" style="width: 180px;">
                                                                                {% for kaohenameKind in userinfo.kaohenameKindList %}                                                                           
                                                                                    <option value="{{ kaohenameKind }}" {% if kaohenameKind  == m.score_kind %} selected {% endif %}>{{ kaohenameKind }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </td>
                                                                        <td class=" text-center"><input type="text" hidden name="pre_score" value='{{ m.score_pre }}' style="width: 70px;">{{ m.score_pre }}</td>
                                                                        <td class=" text-center">
                                                                            <input type="submit" class="btn btn-xs btn-info" name="action" value="保存"/>
                                                                        </td>
                                                                    </tr>                                          
                                                                </tbody>
                                                            </form>
                                                        {% else %}
                                                            <form action="/Editevents/" method="POST" enctype="multipart/form-data">
                                                                <tbody>
                                                                    <tr role="row" class="odd">
                                                                        <td class=" text-center" ><input type="text"  hidden name="editscoreid" value="{{ m.id }}"/>&emsp;{{ m.score_datetime|date:"Y-m-d" }}</td>
                                                                        <!-- <td class=" text-center"><input type="date" name="date" value='{{ datetime }}'  required="" style="width: 130px;"></td> -->
                                                                        <td class=" text-center">{{ m.score_require_department }}</td>
                                                                        <td class=" text-center">{{ m.score_require_username }}</td>
                                                                        <td class=" text-center" >{{ m.score_events }}</td>
                                                                        <td class=" text-center" >{{ m.score_kind }}</td>
                                                                        {% if m.score_pre == None %}
                                                                        <td class=" text-center" >
                                                                            <input type="text"  hidden name="editscoreid" value="{{ m.id }}"/>
                                                                            <input type="text" name="editpre" placeholder="自定义时间"  style="width: 70px;"/>
                                                                            <!-- &emsp; -->
                                                                            <input type="submit" class="btn btn-xs btn-info" name="action" value="更新"/>
                                                                        </td>
                                                                        {% else %}
                                                                            <td class=" text-center" >{{ m.score_pre }}</td>
                                                                        {% endif %}   
                                                                        <td class=" text-center" >
                                                                            <input type="submit" class="btn btn-xs btn-info" name="action" value="编辑"/>
                                                                            &emsp;
                                                                            <input type="submit" class="btn btn-xs btn-danger" name="action" value="删除"/>
                                                                        </td>
                                                                    </tr>                                          
                                                                </tbody>
                                                            </form>                                                        
                                                        {% endif %}    
                                                    {% endfor %}
                                                </table>
                                                <ul class="pagination">
                                                    {# 如果当前页还有上一页 #}
                                                    {% if userinfo.page.has_previous %}
                                                        <li>
                                                            {# 点击a标签，跳转到上一页链接 ?index  为地址后面拼接的参数 #}
                                                            <a href="/managerkaohe/?index={{userinfo.page.previous_page_number}}">上一页</a>
                                                        </li>
                                                    {% else %}
                                                        {# 如果没有上一页， 则上一页按钮不可点击 #}
                                                        <li class="disabled">
                                                            <a href="#">上一页</a>
                                                        </li>
                                                    {% endif %}
                                            
                                                    {% for page_number in userinfo.paginator.page_range %}
                                                        {# 获取当前页的页码 #}
                                                        {% if page_number == userinfo.page.number %}
                                                            {# 如果是当前页的话，选中 #}
                                                            <li class="active">
                                                                <a href="/managerkaohe/?index={{page_number}}">{{page_number}}</a>
                                                            </li>
                                                        {% else %}
                                                            <li>
                                                                <a href="/managerkaohe/?index={{page_number}}">{{page_number}}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                            
                                                    {% if userinfo.page.has_next %}
                                                        <li>
                                                            <a href="/managerkaohe/?index={{userinfo.page.next_page_number}}">下一页</a>
                                                        </li>
                                                    {% else %}
                                                    <li class="disabled">
                                                        <a href="#">下一页</a>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="footer fixed">
    <div class="pull-right">
        Version <strong>1.0.1</strong>
    </div>
    <div>
        <strong>Copyright</strong> :van.w © 2020
    </div>
</div>

    </div>
</div>

</body></html>
